[Desktop Entry]
Type=Application
Name=Roneyview
GenericName=Penampil Gambar
Comment=A fast image viewer alternative for open picture, folder and archive
Exec=$HOME/.local/bin/roneyview
Icon=roneyview
Terminal=false
Categories=Graphics;Viewer;
MimeType=image/jpeg;image/png;image/gif;image/webp;image/bmp;image/tiff;image/x-qoi;image/x-tga;image/vnd.microsoft.icon;image/avif;image/heic;image/heif;application/vnd.comicbook+zip;application/x-cbz;application/x-rar;application/vnd.comicbook-rar;application/x-cbr;
StartupWMClass=roneyview
